Repository embassy-rs/embassy, pull requests merged in 2025-04, with the labels that each got.

#4040 [embassy-executor]: Fix some intra-doc links
  embassy-executor/src/arch/cortex_m.rs
  embassy-executor/src/raw/waker.rs
Labels: e-executor

#4043 embassy-rp: defensive change to ensure wakers are registered
  embassy-rp/src/i2c.rs
  embassy-rp/src/i2c_slave.rs
Labels: e-rp

#4017 embassy-rp: Spinlock mutex implementation
  ci.sh
  embassy-rp/src/critical_section_impl.rs
  embassy-rp/src/lib.rs
  embassy-rp/src/spinlock.rs
  embassy-rp/src/spinlock_mutex.rs
  tests/rp/src/bin/spinlock_mutex_multicore.rs
Labels: trusted
